.elements__like{
    width: 22px;
    height: 19px;
    background: url(../../../images/heart-disable.svg);
    margin: 4px 0 0 0;
    padding: 0;
    padding-left: 0;
    border: none;
    flex: none;
}

.elements__like:hover{
    opacity: 0.5;
    transition: 0.2s ease;
    cursor: pointer;
}