.register__link {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.register__link:hover{
    opacity: 0.8;
    transition: 0.2s ease;
}